@model List<Infinite.DogStore.Models.Dogs>
@{
    ViewBag.Title = "Index";
}

<h2>Details Of Dogs Available</h2>
@Html.ActionLink("Add New", "Create", "DogStore", null, new { @class = "btn btn-info" })

<div class="row">
    <div class="col-md-4">
        <table class="table table-hover">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Dog Name
                </th>
              </tr>
            @foreach (var prd in Model)
            {
                <tr>
                    <td>@prd.Id</td>
                    <td>@Html.ActionLink(prd.DogName, "Details", "DogStore", new { id = prd.Id }, null)</td>

                </tr>
            }
        </table>
    </div>
</div>
